<div class="container">
    <img src="../../../assets/logo.png" alt="logo-bot">
    <h2>Bem-vindo ao Crone do ChatGPT</h2>
    <p>Faça login ou se registre para continuar</p>
    <mat-tab-group class="box" mat-stretch-tabs>
        <mat-tab label="Entrar">
            <div class="large-box">
                <mat-form-field style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="isEmailValid()">
                        Insira um endereço de email válido
                    </mat-error>
                    <mat-error *ngIf="hasEmailError()">
                        Email é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon style="color: black;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <button [disabled]="!isSignInValid()" class="buttons" (click)="onLogin()" mat-raised-button color="primary">Entrar</button>
            </div>
        </mat-tab>
        <mat-tab label="Cadastrar-se">
            <div class="large-box">
                <mat-form-field style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailSignUp" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="isEmailValid()">
                        Insira um endereço de email válido
                    </mat-error>
                    <mat-error *ngIf="hasEmailError()">
                        Email é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input [formControl]="passwordSignUp" matInput [type]="hideSignUp ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hideSignUp = !hideSignUp" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSignUp">
                        <mat-icon style="color: black;">{{hideSignUp ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirmar senha</mat-label>
                    <input [formControl]="passwordConfirm" matInput [type]="hideSignUpConfirm ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hideSignUpConfirm = !hideSignUpConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSignUpConfirm">
                        <mat-icon style="color: black;">{{hideSignUpConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <ng-container *ngIf="isLoading; else elseTemplate">
                    <app-loading theme="light"></app-loading>
                </ng-container>
                <ng-template #elseTemplate>
                    <button [disabled]="!isSignUpValid()" (click)="onSignUp()" class="buttons" mat-raised-button color="primary">Cadastre-se</button>
                </ng-template>
                
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="buttons">

    </div>
</div>