@import "../../../styles.scss";

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    text-align: start;
    color: $whiteText;
    outline: none;
    border-radius: 4px;
    margin-top: 10px;

    // cursor: pointer;

    .mat-icon {
        margin-right: 10px;
        font-size: 1rem;
    }

    &:hover {
        background-color: #2a2b32;
    }

    .text {
        // width: 100%;
        cursor: pointer;
    }
    
    .action {
        // &:hover {
        //     background-color: #ffffff21;
        // }
        
    }
}