<div class="container">
  <div class="sidebar">
    <div class="top">
      <button>Novo chat</button>
    </div>

    <div class="bottom">
      <button>Limpar conversas</button>
      <button>Configurações</button>
    </div>
  </div>

  <div class="main">
    <div class="main-top">
      <h1>Meu ChatGPT</h1>
      
    </div>

    <div class="main-bottom">
      <textarea name="input" id="input" cols="30" rows="5" placeholder="Digite uma mensage..." ></textarea>
    </div>
    
  </div>
</div>