$darkBlue: #343541;
$darkSideBar: #202123;
$whiteText: #ececf1;
$separator: #4d4d4f;

.container {
    width: 100vw;
    height: 100vh;
    display: flex;

    .sidebar {
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        background-color: $darkSideBar;
        padding: 8px;
        color: $whiteText;
        
        button {
            width: 100%;
        }

        .bottom {
            border-top: 1px solid $separator;
            button {
                margin-top: 10px;
            }
        }

    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $darkBlue;

        h1 {
            color: $whiteText;
            text-align: center;
        }

        .main-top {
            height: 500px;
            padding-top: 50px;
        }

        .main-bottom form {
            padding: 10px;
            display: flex;
            justify-content: center;
            input {
                width: 90%;
                height: 1.5rem;
                padding: 10px 0 10px 10px;
                outline: none;
                resize: none;
                background-color: #40414f;
                border: none;
                border-radius: 5px;
                color: $whiteText;
                
                &::placeholder {
                    color: $whiteText;
                }
                
            }
            
        }

    }
}