<div class="container">
  <div class="sidebar">
    <div class="top">
      <app-side-button text="Novo chat" icon="plus" ></app-side-button>
    </div>

    <div class="bottom">
      <div class="separator"></div>
      <app-side-button text="Limpar conversas" icon="trash" ></app-side-button>
      <app-side-button text="Configurações" icon="gear" ></app-side-button>
    </div>
  </div>

  <div class="main">
    <div class="main-top">
      <ng-container *ngIf="false; else elseTemplate">
        <h1>Meu ChatGPT</h1>
        
      </ng-container>

      <ng-template #elseTemplate>
        <div class="question">
          <div class="user-photo"></div>
          <div class="">Pergunta...</div>
        </div>
        <div class="response">
          <div class="chat-photo"></div>
          <div>Resposta...</div>
        </div>
        
      </ng-template>
      
      
    </div>

    <div class="main-bottom">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input 
        autocomplete="off"
        formControlName="question"
        id="input"
        type="text"
        placeholder="Digite uma mensage..."
        />
      </form>
      
      
    </div>
    
  </div>
</div>