@import "../styles.scss";

.container {
    width: 100vw;
    height: 100vh;
    display: flex;

    .sidebar {
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        background-color: $darkSideBar;
        padding: 8px;
        color: $whiteText;
        
        button {
            width: 100%;
        }

        .separator {
            height: 5px;
            border-top: 2px solid $separator;
        }

    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $darkBlue;
        color: $whiteText;

        h1 {
            text-align: center;
        }

        .main-top {
            padding: 0 50px;
            h1 {
                padding: 50px 0;
            }

            height: 500px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }

            .informations {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: start;
                justify-content: space-evenly;
                
                .info {
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        text-align: center;
                    }

                    ul li {
                        list-style: none;
                        margin: 15px auto;
                    }

                    li {
                        width: 60%;
                        background-color: $inputBackground;
                        padding: 12px;
                        border-radius: 2px;
                        text-align: center;
                    }

                    li[class="button"] {
                        cursor: pointer;
                    }
                }
            }

            .question-div {
                display: flex;
                width: 100%;
                padding: 15px 5px;

                .user-photo {
                    min-width: 50px;
                    height: 50px;
                    margin-right: 20px;
                    background-color: blue;
                }
            }

            .response-div {
                display: flex;
                width: 100%;
                padding: 15px 5px;
                background-color: #444654;

                .chat-photo {
                    min-width: 50px;
                    height: 50px;
                    margin-right: 20px;
                    background-color: $chatColor;
                }
            }
        }

        .main-bottom form {
            padding: 10px;
            display: flex;
            justify-content: center;
            input {
                width: 90%;
                height: 1.5rem;
                padding: 10px 0 10px 10px;
                outline: none;
                resize: none;
                background-color: $inputBackground;
                border: none;
                border-radius: 5px;
                color: $whiteText;
                
                &::placeholder {
                    color: $placeholderColor;
                }
                
            }
            
        }

    }
}