/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

p, h1, q, div, button, input  {
    font-family: 'Roboto', sans-serif;
}

$buttonColor: #ffffff1a;
$darkBlue: #343541;
$darkSideBar: #202123;
$whiteText: #ececf1;
$separator: #4d4d4f;
$inputBackground: #40414f;
$placeholderColor: #8e8ea0;
$chatColor: #10a37e;
$userBackground: #f0c40f;
$lightColor: #f7f7f8;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

