/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

$buttonColor: #ffffff1a;
$darkBlue: #343541;
$darkSideBar: #202123;
$whiteText: #ececf1;
$separator: #4d4d4f;
$inputBackground: #40414f;
$placeholderColor: #8e8ea0;